@model Phoenix.Models.Ticket
@using Phoenix.Services 
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> _userManager
@inject IBTFileService BTFileService


@{
    ViewData["Title"] = "Create";
    var user = await _userManager.GetUserAsync(User);
}



<div class="row justify-content-center">
    <div class="col-md-6 mt-2 widget widget-one_hybrid widget-followers p-5 mt-2">
        @if (User.Identity.IsAuthenticated)
        {
            <h1 class="newTicket">Submit a new ticket, @user.FullName</h1>
            <hr />
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Created" value="@DateTime.Now" />
                <input type="hidden" asp-for="Created" value="@user.FullName" />

                <div class="newTicket mb-3">
                    <label asp-for="Title" class="newTicket"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="newTicket mb-3">
                    <label asp-for="Description" class="newTicket"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="newTicket mb-3">
                    <label for="ProjectId" class="newTicket">Project</label>
                    <select asp-for="ProjectId" class="form-control custom-select" data-val="true" asp-items="ViewBag.ProjectId"></select>
                </div>
                <div class="newTicket mb-3">
                    <label for="TicketTypeId" class="newTicket">Ticket Type</label>
                    <select asp-for="TicketTypeId" class="form-control custom-select" data-val="true" asp-items="ViewBag.TicketTypeId"></select>
                </div>
                <div class="newTicket mb-3">
                    <label for="TicketPriorityId" class="newTicket">Ticket Priority</label>
                    <select asp-for="TicketPriorityId" class="form-control custom-select" data-val="true" asp-items="ViewBag.TicketPriorityId"></select>
                </div>
                <div class="newTicket mb-3">
                    <label for="TicketStatusId" class="newTicket">Ticket Status</label>
                    <select asp-for="TicketStatusId" class="form-control custom-select" data-val="true" asp-items="ViewBag.TicketStatusId"></select>
                </div>
                @*<div class="form-group mb-5">
                    <label for="FileName" class="control-label"></label><br />
                    <input name="attachment" type="file" />
                </div>*@
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
            </form>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
