.newTicket {
  color: #1B55E2;
  font-weight:bold;
}
.form-group {
    color: #1B55E2;
    font-weight:bold;
}
.control-label {
    color: #1B55E2;
    font-weight: bold;
}
.sidebar-theme {
    background: #eaf1ff;
}
.sidebar-wrapper sidebar-theme{
    background: #eaf1ff;
}
.sidebar-wrapper .profile-info {
    position: relative;
    padding-bottom: 0;
    background: #eaf1ff;
}
.sidebar-wrapper .profile-info .user-info p {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    opacity: 1;
    color: #eaf1ff;
}
.black {
    color: #3B3F5C;
    font-weight:bold;
}
.span {
    color: #1B55E2;
    font-weight: bold;
}
.phoenix {
    color: #6c4cf3;
    font-weight: bold;
}
.phoenix-card {
        color: #6b7de6;
        filter: brightness(90%)
    }
.test {
    color: #2d8eeb;
    color: #6b7de6;
    color: #6b6ee6;
}
.pbutton {
    background-color: white;
    color: #6b6ee6;
}
.btn-lbutton {
    background-color: #6b6ee6;
    color: white;
}
.td {
    color: #1B55E2;
    font-weight: bold;
}
.tr {
    color: #1B55E2;
    font-weight: bold;
}
.label {
    color: #1B55E2;
    font-weight: bold;
}
.feather-heart {
    color:forestgreen
}
.oldTicket {
    color:lightblue;
    font-weight: bold;
}
.contactMe {
    color: #ede8f7;
    font-weight: bolder;
}
.contactMe2 {
    color: #9481be;
     font-weight: bold;
}
.contactMe3 {
    color:white;
    font-weight: bolder;
}

