@model Phoenix.Models.Project
@using Phoenix.Services 
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> _userManager
@inject IBTFileService BTFileService


@{
    ViewData["Title"] = "Create";
    var user = await _userManager.GetUserAsync(User);
}



<div class="row justify-content-center">
    <div class="col-md-6 mt-2 widget widget-one_hybrid widget-followers p-5 mt-2">
        @if (User.Identity.IsAuthenticated)
        {
            <h1 class="newTicket">Add a new project, @user.FullName</h1>
            <hr />
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="newTicket mb-3">
                    <label for="CompanyId" class="newTicket">Company</label>
                    <select asp-for="CompanyId" class="form-control custom-select" data-val="true" asp-items="ViewBag.CompanyId"></select>
                </div>
                <div class="newTicket mb-3">
                    <label for="Name" class="newTicket">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="newTicket mb-3">
                    <label asp-for="Description" class="newTicket"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="newTicket mb-3">
                    <label for="ImageFileName" class="newTicket">Image File Name</label>
                    <input asp-for="ImageFileName" class="form-control" />
                    <span asp-validation-for="ImageFileName" class="text-danger"></span>
                </div>
                <div class="newTicket mb-3">
                    <label for="ImageFileData" class="newTicket">Image File Data</label>
                    <input asp-for="ImageFormFile" name="file" class="form-control" />
                    <span asp-validation-for="ImageFileData" class="text-danger"></span>
                </div>
                @*<label class="col-md-4">Project Image:</label>
                <div class="col-md-8">
                    <div class="custom-file">
                        <input name="formFile" type="file" class="form-control-file">*@
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                        @*</div>
                    </div>*@
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
