@model Phoenix.Models.Project
@using Phoenix.Services 
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> _userManager
@inject IBTFileService BTFileService


@{
    ViewData["Title"] = "Edit";
    var user = await _userManager.GetUserAsync(User);
}



<div class="row justify-content-center">
    <div class="col-md-6 mt-2 widget widget-one_hybrid widget-followers p-5 mt-2">
        @if (User.Identity.IsAuthenticated)
        {
            <h1 class="newTicket">You have access to edit "@Model.Name", @user.FullName</h1>
            <hr />
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="newTicket mb-3">
                    <label for="CompanyId" class="control-label">Company</label>
                    <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>
                <div class="newTicket mb-3">
                    <label asp-for="Name" class="newTicket"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="newTicket mb-3">
                    <label asp-for="Description" class="newTicket"></label>
                    <textarea input asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="newTicket mb-3">
                    <label for="ImageFileName" class="newTicket">Image Name</label>
                    <input asp-for="ImageFileName" class="form-control" />
                    <span asp-validation-for="ImageFileName" class="text-danger"></span>
                </div>
                <div class="newTicket mb-3">
                    <label for="ImageFileData" class="control-label">Image File</label>
                    <input asp-for="ImageFileData" class="form-control" />
                    <span asp-validation-for="ImageFileData" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
